@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');


.App{
    min-height: 100vh;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    
}

.search-form{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar{
    border-radius: 10px 0 0 10px;
    width: 50%;
    border: none;
    padding: 10px;
}

.search-button{
    border-radius: 0 10px 10px 0;
    background: greenyellow;
    border: none;
    padding: 10px 20px;
    
}

.books{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap:wrap ;
    align-items: center;
   
}

.book{
    width: 100%;
    height: auto;
    text-align: center;
    margin-right: auto;
    align-items: center;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    background: white;
    padding: 25px;
    margin-top: 30px;
    border-radius: 10px;

}

.btn-view{
    border-radius: 10px 0 10px 0;
    border: none;
    background: greenyellow;
    margin-top: 20px;
    width: 20vh;
    height: 7vh;
    cursor: pointer;
    font-weight: 900;
}

.bookdetail-wrap{
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    
    margin: auto;
    padding-bottom: 3vh;;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.img-detail{
    width: 40vh;
    margin: auto;
}

.credits{
    width: 80vh;
    text-align: center;
    padding: 3vh;
}









